--find-links https://download.pytorch.org/whl/torch_stable.html
streamlit==1.28.2
numpy>=1.26.0,<2.0.0
pandas>=2.0.3,<3.0.0
torch==2.0.1+cpu ; python_version < '3.12'
sentence-transformers==2.2.2 ; python_version < '3.12'
huggingface-hub==0.16.4
transformers==4.30.2 ; python_version < '3.12'
qdrant-client==1.6.4
python-dotenv==1.0.0
ipykernel==6.25.2
pytest==7.4.3
tokenizers==0.13.3 ; python_version < '3.12'
